.menu{
  padding: 45px 30px;
  height: 100vh;
  width: 4%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo{
    display: flex;
    align-items: center;
    height: 50px;
    width: 90px;
    margin-bottom: 60px;
  }
  &__img{
    display: flex;
    align-items: center;
    height: 50px;
    width: 90px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  img{
    margin: 0 auto;
  }
}